<h1 style="margin-left:12cm;font-size:2cm"><b><u>Welcome to CredMarket!!</u></b></h1> 


<p> <a href="/items">Go to Homepage</a></p>
<div style="text-align: right; font-size:20px">
Hello <b><%= @customer.cid %></b> <br>
Wallet: <b>Rs. <%= @customer.wallet %></b><br>
<%= link_to "Update Wallet", edit_customer_path(@customer) %>
</div>

<div style="margin-left:10.5cm">
<table border="1"  cellpadding="15" >
<tr>
    <th>Product ID</th>
    <th>Name</th>
    <th>Available Qty</th>
    <th>Price</th>
    <th>Last Update</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
  
    <td>
    <a href="/items/<%= item.id %>">
      <%= item.pid %>
    </a>
    </td>
    <td>
    <%= item.name %>
    </td>
    <td>
    <%= item.qty %>
    </td>
    <td>
    Rs. <%= item.price %>
    </td>
   <td>
     <%= item.updated_at %>
    </td>
    <td>
    <a href="/customers/wishlist/<%= @customer.id %>/<%= item.id %>">
      Add to Wishlist
    </a>
    </td>
    <td>
    <a href="/orders/buy/<%= @customer.id %>/<%= item.id %>">
      Shop Item
    </a>
    </td>
  <% end %>
  </tr>
</table>
</div>




